<div class="flex min-h-screen flex-col md:flex-row">

  <!-- Sidebar -->
  <div [ngClass]="{
      'w-64': !isMobile() && isOver(),
      'w-16': !isMobile() && !isOver(),
    }" class="text-white transition-all duration-300 bg-slate-50">
    <div class="flex flex-col h-full">
      <app-sidebar [showToggle]="isOver()" [isMobile]="isMobile()"></app-sidebar>
    </div>
  </div>

  <div class="flex-1 bg-slate-50 flex flex-col">
    <app-header (toggleMobileNav)="toggleSidebar()"></app-header>

    <div class="flex-1">
      <main class="w-full h-full flex flex-col">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
