<div class="relative">
  <button class="flex items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg w-full" (click)="open.set(!open())">
    <div class="relative size-5 shrink-0"><img ngSrc="/assets/icons/filters.svg" alt="Create" fill /></div>
    Filters
  </button>

  <form [formGroup]="form"
    class="bg-white absolute shadow-lg w-80 p-4 right-0 overflow-hidden z-20 top-full mt-2 rounded-lg transition-all duration-300 ease-in-out transform md:min-w-80 flex flex-col gap-4"
    [ngClass]="{ hidden: !open() }">
    <div>
      <h3 class="font-bold">Filtros</h3>
      <hr class="mb-2" />
      <div class="flex flex-wrap gap-4 ">
        <div class="flex flex-col w-full max-w-xs">
          <input type="text" placeholder="Buscar por nombre" formControlName="name"
            class="input input-bordered w-full rounded-lg px-4 py-2 border border-neutral-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" />
        </div>

        <div class="flex flex-col w-full max-w-xs">
          <select formControlName="species"
            class="select select-bordered w-full rounded-lg px-4 py-2 border border-neutral-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary">
            <option value="">Seleccionar especie</option>
            <option value="Human">Humano</option>
            <option value="Alien">Alienígena</option>
            <option value="Robot">Robot</option>
            <option value="Animal">Animal</option>
            <option value="Other">Otro</option>
          </select>
        </div>
        <div class="flex flex-col w-full max-w-xs">
          <select formControlName="status"
            class="select select-bordered w-full rounded-lg px-4 py-2 border border-neutral-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary">
            <option value="">Seleccionar status</option>
            <option value="Alive">Vivo</option>
            <option value="Dead">Muerto</option>
            <option value="Unknown">Desconocido</option>
            <option value="Resurrected">Resucitado</option>
            <option value="Unkown">Desconocido</option>
          </select>
        </div>

      </div>
    </div>
    <div class="mt-3 flex justify-between gap-4">
      <button
        class="w-1/2 px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 transition duration-300 ease-in-out"
        (click)="submit()">
        Buscar
      </button>
      <button
        class="w-1/2 px-4 py-2 outline outline-2 outline-blue-500 text-blue-500 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
        type="reset">
        Limpiar
      </button>
    </div>
  </form>
</div>
